{% extends "base.html" %}
{% block content %}
    <main class="main main--about">
        <p>
            Hello everyone! Welcome to my profile, <br>
            I am Shaiful, an active software engineer who loves writing codes and eager to learn new things.
            Interested in data handling and software development. Positive, reliable and good problem solver in
            handling projects with 2-year experienced working in research and development company.
        </p>
        <p>
    </main>
{% endblock %}