{% extends 'base.html' %}
{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:shaifulsolehan@gmail.com">
                        shaifulsolehan@gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/ShaifulSolehan">
                        @ShaifulSolehan
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Linkedin:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/shaiful-anwar-solehan-61783120a/">
                        Shaiful Anwar Solehan
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}